{% extends "auctions/layout.html" %}

{% block body %}
<hr>
<img style="position:relative; float:left; margin: 15px; width: 500px; height: 500px;"src="static/auctions/max1.jpg"></img>
<div style="border:none; float: right; width: 500px; height: 500px; margin: 2%; "class="container">

<p style="line-height:1.2cm;"> HI THERE! I’M GOODMORNING. I WAS BORN AND RAISED IN THE GARDEN CITY OF SINGAPORE, AND I STRIVE TO CAPTURE THE EMOTIONS OF SPECIAL MOMENTS DURING MY TRAVELS THROUGH MY LENS AND SHARE THEM WITH YOU THROUGH MY PHOTOGRAPHS.</p>

<p style="line-height:1.2cm;"> SINCE I PICKED UP A CAMERA HALF A DECADE AGO, I’VE GONE ON TO DO LANDSCAPE, STREET, FILM, AND MANY OTHER TYPES OF PHOTOGRAPHY. </p>

<p style="line-height:1.2cm;"> PHOTOGRAPHY STARTED OFF AS A HOBBY BUT IS NOW A BURNING PASSION.  </p>
</div>

<footer style="background-color:white ;height: 50px; postion:relative; margin-top: -150px; clear:both; box-shadow: 0 50vh 0 50vh #000;">
   <hr> <p style="color:black; text-align:center;">ALL CONTENT COPYRIGHT © GOODMORNINGphotos 2022</p>
</footer>

{% endblock %}