{% extends "auctions/layout.html" %}

{% block title%}{{ page_title}}{% endblock %}

{% block body %}
<br><br><br>
<img style="postion: relative; width:100%; height:auto; object-position: center; margin: 0; padding: 0; display:block; margin-right: auto;"src="static/auctions/backgroundphoto2.jpg"></img>
<footer style="background-color:black;height: 16px; postion:relative; margin-top: -20px; clear:both; ">
    <p style="color:white; text-align:center;">ALL CONTENT COPYRIGHT © GOODMORNINGphotos 2022</p>
</footer>
<div style="position: absolute; top: 300px; text-align: center; width: 100%; font-size:50px; font-family:lulo clean; font-weight: bold; color:white; ">The World Through My Lens</div>

{% endblock %}